* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #ffffff;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  margin-left: 2px;
}

#workspaces button {
  color: #e27bb9;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #e27bb9;
  border-radius: 5px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-weather,
#custom-uptime,
#custom-docker {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  font-size: 13px;
}

#clock {
  color: #ffffff;
  border-radius: 5px;
}

#battery {
  color: #ffffff;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.full {
  color: #a6e3a1
}

#battery.warning:not(.charging) {
  color: #f9e2af;
}

#battery.critical:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #f9e2af;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #f9e2af;
  border-radius: 5px 0px 0px 5px;
}

#network {
  color: #ffffff;
}

#cpu {
  color: #ffffff;
}

#memory {
  color: #ffffff;
}

#mode {
  background-color: #101010;
  color: #f38ba8;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 5px;
}
