configuration {
    display-drun: " ";
    drun-display-format: "{icon} {name}";
    modi: "drun,ssh,run";
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "/home/bugfibs/.local/share/rofi/themes/mycustom.rasi"
