configuration {
    display-drun: " ";
    drun-display-format: "{icon} {name}";
    modi: "drun,ssh,run";
    font: "FiraCodeNerdFont 12";
    show-icons: false;
    icon-theme: "Papirus";
}

@theme "squared-nord"

